{% extends 'base.html' %}

{% block content %}
<main>
<!-- 컨테이너 -->
<div class="container">
    <!-- Sidenav START -->
    <div class="col-lg-3">
        <!-- Card START -->
        <div class="card overflow-hidden">
            <!-- Cover image -->
            <div class="h-50px" style="background-image:url(assets/images/bg/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
            <!-- Card body START -->
            <div class="card-body pt-0">
                <div class="text-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-lg mt-n5 mb-3">
                        <a href="#!"><img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="{{user.username}}의 프로필 이미지"></a>
                    </div>
                    <!-- Info -->
                    <h4 class="mb-0"> <a href="#!"> {{ request.user.username}} </a> </h4>
                    <!-- User stat START -->
                    <div class="hstack gap-2 gap-xl-3 justify-content-center">
                        <!-- User stat item -->
                        <div>
                            <h6 class="mb-0"> 포스트 수 </h6>
                            <small>Post</small>
                        </div>

						<div class="vr"></div>
						<!-- User stat item -->
						<div>
							<h6 class="mb-0">팔로워 수</h6>
							<small>Followers</small>
						</div>

						<div class="vr"></div>
						<!-- User stat item -->
						<div>
							<h6 class="mb-0">팔로잉 수</h6>
							<small>Following</small>
						</div>
					</div>
					<!-- User stat END -->
				</div>


				<hr>

				<!-- Side Nav START -->
				<ul class="nav nav-link-secondary flex-column fw-bold gap-2">
					<li class="nav-item">
						<span>닉네임</span>
						<p class="text-secondary">{{user.profile.nickname}}</p>
					</li>
					<li class="nav-item">
						<span>이메일</span>
						<p class="text-secondary">{{user.email}}</p>
					</li>
					<li class="nav-item">
						<span>소개말</span>
						<p class="self-introduce">{{user.profile.self_introduce}}</p>
					</li>
				</ul>

				<hr>

				<a href="{% url 'profile' %}">프로필 수정</a>
				<!-- Side Nav END -->
			</div>
		</div>
	</div>
</div>



{% for post in posts%}
<h2>{{ post.title }}</h2>
<small>Published on {{ post.published_at }} by {{ post.author}}</small>
<p>{{ post.content }}</p>

{% if request.user.is_authenticated and request.user == post.author %}
<p>
    <a href="{% url 'post-edit' post.id %}"> Edit</a>
    <a href="{% url 'post-delete' post.id %}"> Delete </a>
</p>
{% endif %}

</div>
</main>
{% endfor%}
{% endblock %}